---
---

@import "{{ site.theme }}";

.wrapper {
  background-color: white;
  padding: 30px 10px;
}

body {
  text-align: justify;
}

@media screen and (min-width: 800px) {
  main {
    background-image: url("{{ "assets/background.jpg" | relative_url }}");
    background-attachment: fixed;
    background-size: cover;
    padding: 0 !important;
  }

  .wrapper {
    min-height: calc(100% - 55px - 250px);
  }

  %image {
    max-width: 49%;
    margin: auto;
  }

  .image {
    &-left {
      @extend %image;
      float: left;
      padding-right: 5px;
    }

    &-right {
      @extend %image;
      float: right;
      padding-left: 5px;
    }
  }

  p {
    overflow: auto;
  }
}
